@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=number] {
  appearance: textfield;
  white-space: normal;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-butto {
    -webkit-appearance: none;
    margin: 0;
  }
}

.ext-link-light {
  color: #ffae00;
  text-decoration: none;

  &:hover {
    text-shadow: 0 0 10px #e68600;
  }
}

.ext-link-dark {
  color: #ffd700;
  text-decoration: none;

  &:hover {
    text-shadow: 0 0 10px tomato;
  }
}